{% extends "base.html" %}
{% load static %}
{% block title %}Cafes - Aroma Celestial {% endblock %}
{% block content %}
<h1>Lista de Usuarios</h1>
<table border="1">
  <thead>
    <tr>
      <th>Username</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios %}
      <tr>
        <td>{{ usuario.username }}</td>
        <td>{{ usuario.first_name }}</td>
        <td>{{ usuario.last_name }}</td>
        <td>{{ usuario.email }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% if is_paginated %}
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; primera</a>
        <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
      {% endif %}

      <span class="current">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endif %}
{% endblock %}